---
import TwoColLayout from "../TwoColLayout.astro";

---

<div>
    <h1 class="text-center">Why Choose Us?</h1>
    <p class="text-center">
        Blockster Labs leverages a unique combination of deep domain experience, rich technical expertise and lean methodology to develop innovative products and solutions. We are also active contributors and participants in several industry forums to continuously uplift our offerings and create differentiating propositions for our clients.
    </p>
    <TwoColLayout />
</div>

<style>
    .text-center {
        text-align: center;
    }

    p {
        width: 60%;
        margin: auto;
    }
</style>