<div>
    <iframe src="https://maps.google.com/maps?q=Blockster%20Labs&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" title="Blockster Labs" aria-label="Blockster Labs" height="400px" width="500px" style="margin-bottom: 5rem"></iframe>
</div>